@charset "UTF-8";
/*=============Обнуление стилей CSS================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=============Обнуление стилей CSS================*/
/*================Подключение шрифтов================*/
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("☺"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/Proxima-Nova-Bold.eot");
  src: local("☺"), url("../fonts/Proxima-Nova-Bold.woff") format("woff"), url("../fonts/Proxima-Nova-Bold.ttf") format("truetype"), url("../fonts/Proxima-Nova-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/*================Подключение шрифтов================*/
body {
  font-family: "MontserratRegular", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.__container {
  margin: 0 auto;
  max-width: 1170px;
}

/*===========================header===========================*/
.header {
  background-color: #F8F8F8;
}

.header__bg {
  background-color: #333333;
  position: relative;
  z-index: 5;
}

.header__top-bar {
  color: #777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1170px) {
  .header__top-bar {
    padding-left: 10px;
  }
}
.header__top-bar a {
  display: block;
  color: #777777;
  margin: 15px 0px;
}

.header__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__currency .fa-angle-down {
  margin-left: 7px;
}

.header__register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}
.header__register form {
  position: relative;
}
.header__register button {
  color: #FFFFFF;
  background-color: #00C8C8;
}
.header__register button:nth-child(1) {
  width: 45px;
  height: 45px;
  position: absolute;
  margin-left: 7px;
}
@media screen and (max-width: 480px) {
  .header__register button:nth-child(1) {
    right: 0px;
    top: 0px;
  }
}
.header__register button:nth-child(1) .fa-shopping-cart {
  font-size: 16px;
}
.header__register button:nth-child(2) {
  width: 145px;
  height: 45px;
  padding-left: 20px;
}
@media screen and (max-width: 480px) {
  .header__register button:nth-child(2) {
    display: none;
  }
}
.header__register button:nth-child(2) .fa-angle-down {
  margin-left: 7px;
}
.header__register a {
  color: #999999;
  margin-right: 80px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .header__register a {
    margin-right: 60px;
  }
}
.header__register a:nth-child(1) {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .header__register a:nth-child(1) {
    margin-right: 20px;
  }
}
.header__register a:hover {
  color: #00c8c8;
}

@media screen and (max-width: 768px) {
  .header__nav-wrapper {
    position: fixed;
    width: 100%;
    top: 45px;
    z-index: 4;
    padding-bottom: 8px;
  }
  .header__nav-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a6a6a6;
    z-index: 5;
  }
}

.header__nav-container {
  padding: 28px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .header__nav-container {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav-container {
    padding: 5px 0px;
  }
}

.header__logo {
  padding-left: 135px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  position: relative;
  z-index: 6;
}
@media screen and (max-width: 1900px) {
  .header__logo {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .header__logo {
    margin-top: 8px;
  }
}
.header__logo h2 {
  font-size: 24px;
  font-family: "MontserratBold";
  color: #222222;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  .header__logo h2 {
    font-size: 20px;
  }
}
.header__logo h2 span {
  font-family: "MontserratRegular";
  margin-left: 10px;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding-right: 135px;
  text-align: right;
}
@media screen and (max-width: 1900px) {
  .header__search {
    padding-right: 20px;
  }
}
@media (max-width: 1100px) {
  .header__search {
    padding-right: 50px;
  }
}
.header__search #search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 6;
}
.header__search input {
  color: #989898;
  width: 190px;
  height: 30px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  background-color: #F8F8F8;
}
@media screen and (max-width: 1100px) {
  .header__search input {
    display: none;
  }
}
.header__search button {
  width: 30px;
  height: 30px;
  background-color: #F8F8F8;
  position: absolute;
  right: 0px;
  border: 1px solid #e7e7e7;
  border-left: 0px;
}
@media screen and (max-width: 1100px) {
  .header__search button {
    border-left: 1px solid #e7e7e7;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    background-color: #00c8c8;
    margin-top: -10px;
    margin-right: -40px;
  }
}
.header__search .fa-search {
  color: #989898;
}

/* ===============Меню======================== */
@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 57%;
          flex: 1 0 57%;
  z-index: 4;
  position: relative;
}
@media (max-width: 768px) {
  .header__nav {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 200, 200, 0.9);
    padding: 100px 0px 0px 0px;
    font-family: "MontserratBold";
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 320px;
  }
}
@media (max-width: 480px) {
  .header__nav {
    width: 100%;
  }
}
.header__nav .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1600px) {
  .header__nav .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header__nav .menu__list {
    display: block;
    margin: 30px 10px;
    text-align: left;
  }
}
.header__nav .menu__list > li {
  margin-right: 60px;
  padding-top: 11px;
  position: relative;
}
@media (max-width: 1100px) {
  .header__nav .menu__list > li {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .header__nav .menu__list > li {
    border-bottom: 1px solid #000000;
    margin-right: 0px;
    margin-bottom: 40px;
    height: 30px;
    width: 140px;
  }
}
.header__nav .menu__list > li:last-child {
  margin-right: 0px;
}
.header__nav .menu__list > li span {
  display: block;
  text-align: left;
  cursor: pointer;
  color: #989898;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
@media (min-width: 768px) {
  .header__nav .menu__list > li span:hover {
    color: #00C8C8;
  }
}
@media (max-width: 768px) {
  .header__nav .menu__list > li span {
    padding-bottom: 5px;
    color: #FFFFFF;
  }
}
.header__nav .menu__list > li span a {
  display: block;
  color: #222222;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1600px) {
  .header__nav .menu__list > li span a {
    font-family: "MontserratBold";
  }
}
@media (max-width: 768px) {
  .header__nav .menu__list > li span a {
    color: #FFFFFF;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.header__nav .menu__list > li span a:hover {
  color: #00C8C8;
}
@media (max-width: 768px) {
  .header__nav .menu__list > li span a:hover {
    color: #000000;
  }
}
.header__nav .menu__list > li span .fa-angle-down {
  padding-top: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
}
@media (max-width: 768px) {
  .header__nav .menu__list > li span .fa-angle-down {
    position: absolute;
    right: 10px;
    top: -5px;
  }
}

/* ===============Меню======================== */
.menu-burger {
  display: none;
}
@media (max-width: 768px) {
  .menu-burger {
    display: block;
    position: absolute;
    width: 35px;
    height: 25px;
    z-index: 6;
    right: 65px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .menu-burger::before, .menu-burger::after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu-burger::before {
    top: 0px;
  }
  .menu-burger::after {
    bottom: 0px;
  }
  .menu-burger span {
    position: absolute;
    background-color: #000000;
    left: 0px;
    width: 100%;
    height: 3px;
    top: 11px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.menu-burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}
.menu-burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
}
.menu-burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__nav.active {
  top: 0px;
}

.link-1 .fas._active1 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #00C8C8;
}
@media screen and (max-width: 768px) {
  .link-1 .fas._active1 {
    color: #222222;
  }
}

.link-2 .fas._active2 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #00C8C8;
}
@media screen and (max-width: 768px) {
  .link-2 .fas._active2 {
    color: #222222;
  }
}

.link-3 .fas._active3 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #00C8C8;
}
@media screen and (max-width: 768px) {
  .link-3 .fas._active3 {
    color: #222222;
  }
}

.link-4 .fas._active4 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #00C8C8;
}
@media screen and (max-width: 768px) {
  .link-4 .fas._active4 {
    color: #222222;
  }
}

.link-5 .fas._active5 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #00C8C8;
}
@media screen and (max-width: 768px) {
  .link-5 .fas._active5 {
    color: #222222;
  }
}

.header__sab-menu._active1, .header__sab-menu._active2, .header__sab-menu._active3, .header__sab-menu._active4, .header__sab-menu._active5 {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .sab-menu__sab1._active, .sab-menu__sab2._active, .sab-menu__sab3._active, .sab-menu__sab4._active {
    display: block;
  }
}

.header__sab-menu {
  z-index: 4;
  width: 470px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: absolute;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  padding: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 40px -9px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  .header__sab-menu {
    top: 0px;
    left: 150px;
    padding: 5px;
    text-align: center;
    width: 150px;
  }
}

.sab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .sab-menu {
    display: block;
  }
}
.sab-menu h2 {
  color: #575153;
  font-family: "MontserratLight";
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .sab-menu h2 {
    padding: 10px 0px;
    margin-bottom: 10px;
    border: 1px solid #333333;
    font-family: "MontserratRegular";
  }
}
.sab-menu a {
  color: #727272;
  font-family: "MontserratLight";
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .sab-menu a {
    margin-bottom: 0px;
    padding: 5px 0px;
  }
}
.sab-menu a:hover {
  color: #00C8C8;
}

.sab-menu__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .sab-menu__left {
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .sab-menu__left ul {
    display: none;
  }
}

.sab-menu__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
@media screen and (max-width: 768px) {
  .sab-menu__right ul {
    display: none;
  }
}

.header__sab-manu-sale {
  width: 410px;
  height: 200px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .header__sab-manu-sale {
    width: 140px;
    height: 100%;
    margin-top: 0px;
  }
}
.header__sab-manu-sale p {
  color: #FFFFFF;
  font-size: 36px;
  font-family: "ProximaNova-Regular";
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .header__sab-manu-sale p {
    font-size: 12px;
    padding: 5px 0px;
  }
}

@media screen and (max-width: 1950px) {
  .header__sab-menu-end {
    right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .header__sab-menu-end {
    top: -280px;
    left: 150px;
  }
}
.header__sab-menu-end .header__sab-manu-sale {
  margin-top: 15px;
}

.header__container {
  position: relative;
}
.header__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 1;
  bottom: 0;
  top: 0;
}
.header__container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: rgba(248, 248, 248, 0.4);
  font-family: "ProximaNova-Bold";
  font-size: 450px;
  text-transform: uppercase;
  padding-top: 203px;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .header__container h1 {
    font-size: 220px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .header__container h1 {
    font-size: 80px;
    padding-top: 100px;
  }
}
.header__container h1 span {
  line-height: 0.55;
}

.header__text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .header__text {
    top: 48%;
  }
}
.header__text h2 {
  font-family: "MontserratBold";
  text-transform: uppercase;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media screen and (max-width: 1100px) {
  .header__text h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .header__text h2 {
    font-size: 16px;
  }
}
.header__text h2 span {
  font-family: "MontserratLight";
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .header__text h2 span {
    padding-left: 10px;
  }
}
.header__text p {
  font-size: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  .header__text p {
    font-size: 16px;
  }
}

.ibg {
  background-position: center 19.5%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*===========================header===========================*/
/*===========================content===========================*/
.content {
  background-color: #FFFFFF;
  padding: 60px 0px 120px 0px;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 20px 0px 20px 0px;
  }
}

.content__container h2 {
  font-size: 18px;
  color: #575153;
  text-transform: uppercase;
  font-family: "ProximaNova-Bold";
  margin: 30px 0px 20px 0px;
}
@media screen and (max-width: 768px) {
  .content__container h2 {
    text-align: center;
    font-size: 15px;
    margin: 10px 0px 5px 0px;
  }
}
.content__container p {
  color: #8E8C8C;
  font-size: 15px;
  text-align: justify;
  font-family: "RobotoRegular";
  line-height: 1.4;
}
@media screen and (max-width: 768px) {
  .content__container p {
    font-size: 14px;
    line-height: 1.2;
  }
}
.content__container p span {
  color: #727272;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "ProximaNova-Bold";
  margin-bottom: -15px;
  display: block;
}
@media screen and (max-width: 768px) {
  .content__container p span {
    text-align: center;
    margin-bottom: -5px;
    font-size: 11px;
  }
}
.content__container p a {
  color: #00C8C8;
}
@media screen and (max-width: 1170px) {
  .content__container {
    padding: 0px 10px;
  }
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .content__top {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  .content__top {
    display: block;
  }
}
.content__top .content__wrapper-img-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .content__top .content__wrapper-img-top {
    margin-right: 20px;
  }
}
@media screen and (max-width: 580px) {
  .content__top .content__wrapper-img-top {
    margin-right: 0px;
  }
}
.content__top .content__wrapper-img-top img {
  display: block;
  width: 100%;
}

.content__top-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 120px;
  padding-top: 35px;
}
@media screen and (max-width: 1170px) {
  .content__top-text {
    padding-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .content__top-text {
    margin-bottom: 0px;
  }
}

.content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 580px) {
  .content__bottom {
    display: block;
  }
}

.content__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .content__left {
    margin-right: 20px;
  }
}
@media screen and (max-width: 580px) {
  .content__left {
    margin-right: 0px;
  }
}
.content__left .content__wrapper-img-left img {
  display: block;
  width: 100%;
}

.content__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-top: -140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .content__right {
    margin-top: 0px;
  }
}
.content__right .content__wrapper-img-right img {
  display: block;
  width: 100%;
}

.content__right-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.content__right-text .fa-long-arrow-alt-right {
  margin-left: 2px;
}

.content__right-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
@media screen and (max-width: 1100px) {
  .content__right-img img {
    width: 25%;
  }
}

/*===========================footer===========================*/
.footer {
  background-color: #F8F8F8;
}

.footer__menu {
  padding: 60px 0px;
  z-index: 3;
}
@media screen and (max-width: 880px) {
  .footer__menu {
    padding: 20px 0px;
  }
}
.footer__menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1170px) {
  .footer__menu > ul {
    padding: 0px 10px 0px 10px;
  }
}
@media screen and (max-width: 880px) {
  .footer__menu > ul {
    display: block;
    max-width: 440px;
    margin: 0 auto;
  }
}
.footer__menu > ul > li > span {
  display: block;
  margin-bottom: 30px;
}
@media screen and (max-width: 880px) {
  .footer__menu > ul > li > span {
    border-bottom: 2px solid #575153;
    position: relative;
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.footer__menu > ul > li > span > a {
  color: #575153;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media screen and (max-width: 880px) {
  .footer__menu > ul > li > span > a {
    color: #ffffff;
  }
}
@media screen and (min-width: 880px) {
  .footer__menu > ul > li > span > a:hover {
    color: #00C8C8;
  }
}
@media screen and (max-width: 880px) {
  .footer__menu .footer__list {
    position: relative;
  }
}
.footer__menu .footer__list .fa-angle-down {
  display: none;
}
@media screen and (max-width: 880px) {
  .footer__menu .footer__list .fa-angle-down {
    display: block;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 880px) {
  .footer__menu .footer__list .fa-angle-down._active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #00C8C8;
  }
}
.footer__menu .footer__list ul li {
  font-size: 14;
  color: #727272;
  margin-bottom: 12px;
  line-height: 1.5;
}
@media screen and (max-width: 880px) {
  .footer__menu .footer__list ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    text-align: center;
    background-color: #D7D1D1;
    padding: 8px 0px;
  }
}
.footer__menu .footer__list ul li a {
  font-size: 14;
  color: #727272;
}

@media screen and (max-width: 880px) {
  .footer__list1, .footer__list2, .footer__list3, .footer__list4, .footer__list5 {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
}
@media screen and (max-width: 880px) {
  .footer__list1._active, .footer__list2._active, .footer__list3._active, .footer__list4._active, .footer__list5._active {
    height: auto;
    overflow: visible;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
}

.footer-socium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-bottom: 55px;
}
@media screen and (max-width: 1100px) {
  .footer-socium {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .footer-socium {
    display: block;
  }
}

.footer-socium__text {
  background-color: #333333;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .footer-socium__text {
    margin-right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .footer-socium__text {
    margin-right: 0px;
    margin-bottom: 10px;
    padding: 10px;
  }
}
.footer-socium__text h2 {
  font-family: "MontserratBold";
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .footer-socium__text h2 {
    font-size: 18px;
  }
}
.footer-socium__text h2 span {
  font-family: "MontserratLight";
}

.footer-socium__icons {
  background-color: #00C8C8;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 85px 145px;
}
@media screen and (max-width: 1100px) {
  .footer-socium__icons {
    padding: 85px 50px;
  }
}
@media screen and (max-width: 768px) {
  .footer-socium__icons {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer-socium__icons {
    margin-bottom: 10px;
  }
}
.footer-socium__icons a {
  display: block;
}
.footer-socium__icons a .fab {
  color: #FFFFFF;
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .footer-socium__icons a .fab {
    font-size: 24px;
  }
}

.footer-info {
  background-color: #333333;
}

.footer-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
}
@media screen and (max-width: 1170px) {
  .footer-info__container {
    padding: 15px 10px;
  }
}
@media screen and (max-width: 580px) {
  .footer-info__container {
    display: block;
  }
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__left p {
  color: #999999;
  text-align: left;
}
@media screen and (max-width: 1100px) {
  .footer__left p {
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .footer__left p {
    padding-bottom: 15px;
  }
}

.footer__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__right p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  text-align: right;
  color: #777777;
}
@media screen and (max-width: 1100px) {
  .footer__right p {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    text-align: center;
  }
}
.footer__right p:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}
@media screen and (max-width: 1100px) {
  .footer__right p:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
}

/*===========================footer===========================*/